@charset "UTF-8";
html,body 
{
  height:98%;
}

.wrapper         
{
  float:left;width:67%;height:95%;margin:0 auto;background:#CCC
}

.h_iframe
{
  position:relative;
}

.h_iframe .ratio 
{
  display:block;width:100%;height:auto;
}

.h_iframe iframe 
{
  position:absolute;top:0;left:0;width:100%; height:100%;
}

time.icon
{
  font-size: .5em; /* change icon size */
  float: left;
  display: block;
  /*position: relative;*/
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: .5em auto;
  border-radius: 1em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  float: left;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  font-size: 1.4em;
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #837373;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-bottom: 1px dashed #000000;
  box-shadow: 0 2px 0 #837373;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #837373;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1em;
  color: #2f2f2f;
}

#sidebar {
position:fixed; 
right: 10px; top:0; bottom:0; width:300px; 
overflow:hidden; 
border:#E3B73C solid thin; 
border-radius:25px; 
box-shadow: -10px 10px 5px #000000; 
z-index: 99999;
}

#sidebar-blur:before {
    content: '';
    
    position: absolute;
    width: 300px;
    height: 100%;
    z-index: -1;
    
    background-image: url(../img/signage_background.png);
}
#blur-layer {
    background:rgba(255,255,255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#sidebar-blur {
-webkit-filter: blur(10px);
	filter: blur(10px);
}
