/**
  *Written By: Landon Hall, March 2016*
  *Style For ISD 709 Signage*
 */

@charset "UTF-8";
/*Font Package*/
@font-face {
  font-family: 'robato';
    src: url('../font/RobotoSlab-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
/* Base */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: robato;
  color: #fff;
}
/*frosting container*/
.projector-container {
  width: 100%;
  height: 100%;
  position: fixed;
  /*height: 1600px;*/;
}
/* Item Wrapper */
.item-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
/*Item Style*/
.item {
  width: 350px;
  margin-right: 2%;
  margin-top: .3%;
  float: right;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.25);
  background: url(../img/signage_background_blur.png) no-repeat;
}
/*Last Item*/
.item.last {
  background: url(../img/signage_background_blur.png) no-repeat;
  margin-right: 0;
  width: 350px;
  margin-top: 0;
}
/*Frosted Glass Effect*/
.item-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 75, 31, 0.4);
 /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(255, 75, 31, 0.4) , rgba(31, 221, 255, 0.4));
 /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(255, 75, 31, 0.4) , rgba(31, 221, 255, 0.4));
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: rgba(255,255,255,0.4);*/;
}
/*Full Width Class*/
.full-width {
  width: 100%;
}
/*Full Height Class*/
.full-height {
  height: 100%;
}
/*Calendar Icon Displaying Date of Event Styling*/
time.icon {
  font-size: .5em;
 /* change icon size */
  float: left;
  display: block;
  /*position: relative;*/
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: .5em auto;
  border-radius: .5em;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}
/*Calendar Icon Displaying Date of Event Styling*/
time.icon * {
  display: block;
  float: left;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
/*Calendar Icon Displaying Date of Event Styling*/
time.icon strong {
  font-size: 1.4em;
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #E51B24;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-bottom: 1px dashed #000000;
  box-shadow: 0 2px 0 #837373;
}
/*Calendar Icon Displaying Date of Event Styling*/
time.icon em {
  position: absolute;
  color: #E51B24;
  bottom: 0.3em;
}
/*Calendar Icon Displaying Date of Event Styling*/
time.icon span {
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1em;
  color: #2f2f2f;
}
/*Container for all Sidebar Divs*/
#sidebar_contents {
  padding-top: 5px;
  overflow: hidden;
  width: auto;
  height: 100%;
  z-index: 99998;
}
/* Background */
#pp-background {
  position: fixed;
  top: 0;
  left: 0;
}
/*Clock Div Styling*/
#timeClock {
  width: 350px;
  height: 60px;
  font-size: 30px;
}
/*Weather Div*/
#weather {
  width: 350px;
  height: 420px;
}
/*Calendar Event Container*/
#eventWrapper {
  margin-left: 5px;
}
/*Slide-Show Div*/
#slideshow {
  float: left;
  width: 1200px;
  height: 900px;
  position: absolute;
  margin-top: 5%;
  margin-left: 9%;
}
