@charset "UTF-8";
@font-face {
    font-family: 'robato';
    src: url('../font/RobotoSlab-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
/*html,body 
/*{
  /*height:98%;
}*/

/* Base */
html, body {
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    font-family: robato;
    color: #fff;
}
.projector-container {
    width: 100%;
    height: 100%;
    position: fixed;
  /*height: 1600px;*/
}
/* Item */
.item-wrapper {
  position: relative;
  height:100%;
  width:100%
}
.item {
    /*width: 32%;*/
    width:350px;
    margin-right: 2%;
    margin-top: .3%;
    float: right;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.25);
    background: url(../signage_background_blur.png) no-repeat;
	/*z-index:99999;*/
}
.item.last {
  background: url(../signage_background_blur.png) no-repeat;
  margin-right: 0;
  width:350px;
}
.item-overlay {
    width: 100%;
    height: 100%;
	background: rgba(255, 75, 31, 0.4); /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, rgba(255, 75, 31, 0.4) , rgba(31, 221, 255, 0.4)); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, rgba(255, 75, 31, 0.4) , rgba(31, 221, 255, 0.4)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: rgba(255,255,255,0.4);*/
}
/* Background */
#pp-background {
    position: fixed;
    top: 0;
    left: 0;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

#timeClock {
	width:350px;
	height: 60px;
	font-size: 30px;
}

time.icon
{
  font-size: .5em; /* change icon size */
  float: left;
  display: block;
  /*position: relative;*/
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: .5em auto;
  border-radius: .5em;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  float: left;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  font-size: 1.4em;
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #E51B24;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  border-bottom: 1px dashed #000000;
  box-shadow: 0 2px 0 #837373;
}

time.icon em
{
  position: absolute;
  color: #837373;
  bottom: 0.3em;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1em;
  color: #2f2f2f;
}
